body{
	background-color:black;
	width:100%;
	margin: 0 auto;
}
.container{
	width:100%;
	margin:0;

}
#mainContent{
	width:100%;
	margin-right:30px;
	margin-left:40px;
}
.navbar{
	background-color:black;
	border:none;
}

.navbar-brand{
	max-width:400px;
	padding:0;
	margin:0;
}

.navbarBtn{
	margin-top: 20px;
	margin-right:10px;
	margin-bottom:20px;
	background-color:black;
	color:#ffffff;
	font-weight:bold;
	border:none;
	border-bottom:thick solid #ddaa50;
	-webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.navbarBtn:hover{
	background-color: #c41c28;
    color: #FFFFFF;
}

.navbar-brand{
	color: #FFFFFF;
}
#searchinput{
	padding-left:10px;
	width:90%;
	height:49.5px;
	border:none;
	margin-left:12px;
}

#searchBtn{
	width:50px;
	height:50px;
	color: #FFFFFF;
	background-color:#ddaa50;
	border:none;
	border-radius:0px;
}

 #map {
        height: 300px;
        width: 38%;  
        margin-right:10px;     
}

.container-fluid{
	 padding-left:30px;
	 padding-right:30px;
}

#videoPlay3 {
	height:300px;
	width:40%;
}

#splashImage {
	width: 800px;
	height: auto;
	margin: auto;
	padding: 0px;
}

.image {
	position: relative;

}